{%extends "layout.njk"%}
{% import "parts/section-products.njk" as section %}
{%block head%} 

<title>listando Produto</title>

{%endblock%}

{%block content %}
<section class="search-products container">
    <aside>
        <div class="header">
            <h2>{{search.term}}</h2>
            {%if search.total ==0%}

            <p>NENHUM PRODUTO ENCONTRADO</p>
            {%else%}
            <p>{{search.total}}</p>
           
        </div>
        <nav class="categories">
            <h4>Categorias</h4>
            <ul>
                {% for category in categories %}
                <li><a href="/products/search?filter={{search.term}}&category={{category.id}}">{{category.name}}</a></li>
                
                {% endfor %}
            </ul>
        </nav>
        {%endif%}
    </aside>
    {{section.products('', 'searched', products )}}
</section>


{%endblock content %}