{%extends "layout.njk"%}
{% import "parts/card.njk" as cards %}

{%block content %}
{% if (sales.length < 1) %}
{% call card.render("", "user-ads container")%}
<p>Nenhuma Venda</p>
<a href="/ads/create" class="button">Comece a Vender</a>
{% endcall %}
{% else %}
{% call cards.render('Meus Anúncios', 'user-ads container') %}
<div class="items">
    {% for product in products%}
    <div class="item">
        <div class="image"
            style="background-image: url({{product.img}})">
        </div>
        <div class="info">
            <div class="title">{{product.name}}</div>
            <div class="price">{{product.formattedPrice}}</div>
            <div class="published">Publicado em {{product.formattedCreateAt}}</div>

            <div class="actions">
                <a href="/products/{{product.id}}/edit">Editar</a>
                <a href="/products/{{product.id}}">Ver</a>
            </div>
            </div>
       
    </div>
    {%endfor%}
</div>
{%endcall%}
{%endif%}
{%endblock%}